@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --primary-50: #F9F5FF;
    --primary-200: #E9D7FE;
    --primary-300: #D6BBFB;
    --primary-500: #9E77ED;
    --primary-600: #7F56D9;
    --primary-700: #6941C6;
    --cta-heading: #101828;
    --cta-paragraph: #475467;
    --input-border: #D0D5DD;
    --email-capture-text: #667085;
    --email-capture-hint: #475467;
    --Shadow-xs-x0y1blur2: #1018280D;
    font-size: 16px;
}
*{
    border: 0px;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;

}
body{
    box-sizing: border-box;
    font-family: inter;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cat{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cta-paragraph);
    margin-top: 40px;
}
.pig{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
    gap: 40px;
}
.rat{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dog{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    gap: 32px;
}
.dog a, .rat a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4.8px;
    color: var(--cta-paragraph);
    font-weight: 560;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}
.buttons{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 31%;
    gap: 16px;
    margin-right: 16px;
}
#login-button-link{
    background-color: transparent;
    padding: 9.6px;
    border-radius: 8px;
    border: none;
    color: var(--cta-paragraph);
    font-weight: 550;
}
#signup-button-link{
    background-color: var(--primary-600);
    border: solid 1px var(--primary-600);
    border-radius: 8px;
    padding: 9.6px;
    color: white; 
}
hr{
    border: solid 0.01px rgba(195, 195, 195, 0.37);
}
.goat{
    width: 1200px;
}

